button {
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 15px;
    background-color: white;
    font-size: 32px;
    cursor: pointer;
    margin: 15px;
}

#b01 {
    background-color: green;
}

body {
    margin: 15px;
    padding: 15px;
}

div {
    border-bottom: 1px solid;
}

.d01 img {
    height: 38px;
    border-radius: 5px;
}

#b03 {
    background-color: red;
}
.d04 iframe{
    width: 90%;
    height: 300px;
}
.d00{
    position: fixed;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    display: none;
    padding: 5px;
}
.d00 button{
    display: block;
}
.d03 p{
    display: inline;
    color: red;
}
.d05 img{
    width: 25%;
}
.d05,.d06{
    border: 1px solid;
    border-radius: 5px;
    position: fixed;
    background-color: white;
    width: auto;
    display: none;
    padding: 5px;
}
.d06 img{
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
}
.x{
    font-size: 24px;
}